@use '../../abstracts/' as *;

.accordion {
    width: 100%;
    margin: 30px auto;
    &__header {
        color: #fff;
        background-color: $mainColor;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 500;
        img {
            width: 20px;
            height: 15px;
        }
        .rotate {
            transform: rotate(-180deg);
            transition: all 1s ease;
        }
    }
    &__content {
        padding: 15px;
        background-color: #f6f6f6;
        color: $mainColor;
        border-radius: 8px;
        text-align: justify;
        visibility: hidden;
        opacity: 0;
        transition: all 1.2s ease;
    }
    &__contentDisplay {
        padding: 15px;
        background-color: #f6f6f6;
        color: $mainColor;
        border-radius: 8px;
        text-align: justify;
        visibility: visible;
        opacity: 1;
    }
}