@use '../../abstracts/' as *;

.accordion {
    width: 100%;
    margin: 25px auto;
   
    &__header {
        color: #fff;
        background-color: $mainColor;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        border-radius: 8px;
        h3 {
            font-size: 18px;
            font-weight: 500;

        }
        img {
            width: 20px;
            height: 15px;
        }
        .rotate {
            transform: rotate(180deg);
            transition: all .2s ease;
        }
    }
    &__content {
        padding: 12px;
        background-color: #f6f6f6;
        color: $mainColor;
        border-radius: 8px;
        text-align: justify;
        visibility: hidden;
        opacity: 0;
        height: 0;
        transition: all .1s ease;
        @media screen and (max-width:768px) {
            margin-bottom: -25px;
        }
    }
    &__contentDisplay {
        padding: 12px;
        background-color: #f6f6f6;
        color: $mainColor;
        border-radius: 8px;
        text-align: justify;
        visibility: visible;
        height: 80%;  
       
    }
}