@use '../../abstracts/' as *;

.dropdown {
    background-color: $mainColor;
    border-radius: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem 1.1rem ;
    h4 {
        font-size: 18px;
        font-weight: 500;
    }
    img {
        height: 23px;
        width: 15px;
        margin-right: -2px ;
    }

}