@use '../../abstracts/' as *;

    .slide__left, .slide__right {
        height: 79px;
        width: auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        &:hover {
            color: $mainColor;
        }
        @media screen and (max-width:768px) {
            height: 20px;
            width: auto;
         }  
    }
    .slide__right {
        right: 23px;
    }
    .slide__left {
        left: 23px;
    }
    .position {
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 18px;
        color: #fff;
    }

    
