# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# deployment
/firebase
.firebaserc
.dockerignore
docker-compose.yaml
Dockerfile.dev
Dockerfile.prod
firebase.json
Parbatia_Manfred_1_lien_repo_github_012023.txt
Parbatia_Manfred_P7_Creer_une_application_web_de_location_immobiliere_avec_Reac.zip
