header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 63px;
    .logo {
        padding: 0;
    }
    nav {
        ul {
            list-style: none;           
            display: flex;
            justify-content: space-between;
            li {
                padding:0px;
                a {
                    text-decoration: none;
                    font-size: 24px;
                    font-weight: 500;
                    color: #FF6060;
                    padding: 0 23px;
                }
                .active{
                    text-decoration: underline;
                }
            }
        }
    }
}