@use '../../abstracts/' as *;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    // margin-bottom: 63px;
    @media screen and (max-width:768px) {
        width:90%;
        // margin-bottom: 25px;
       
    }
    .logo {
        padding: 0;
        img{
            @media screen and (max-width:768px) {        
                max-width: 145px;
                max-height: 47px;
            }   
        }             
    }
    
    nav {
        ul {
            list-style: none;           
            display: flex;
            justify-content: space-between;
            li {
                padding:0px;
                a {
                    text-decoration: none;
                    font-size: 24px;
                    font-weight: 500;
                    color: $mainColor;
                    padding: 0 23px;
                    @media screen and (max-width:768px) {
                        font-size: 12px;
                    }                   
                }
                
            }
        }
    }
    .active a{
        text-decoration: underline;
    }
}