.about {

  margin-top: 49px;
  margin-bottom: 46px;
  @media screen and (max-width:960px) {
    margin-top: 20px;
}
  &__container{
    width: 89%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 21px 0;
  }
}
  /* MediaQueries */
  
 