@use '../abstracts/' as *;

.logements {
    margin-top: 25px;
    @media screen and (max-width:768px){
        width: 90%;
        margin: 0 auto;
        grid-template-columns: 1fr;
    }
    .logementHeader{
        margin-top: 30px;
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: $mainColor;
        font-weight: 500;
        font-size: 18px;
        @media screen and (max-width:768px) {
            display: flex;
            flex-direction: column;
            gap: 16px;
            font-size: 14px;
        }        
        .logementInfo{
            h1 {
                font-size: 36px;
                font-weight: 500;
                @media screen and (max-width:768px) {
                   font-size: 18px;
                }                     
            }
            .tag{
                display: flex;
                list-style: none;
                gap: 10px;
                margin-top: 20px;
                @media screen and (max-width:768px) {
                    flex-wrap: wrap;
                 }  
                li{
                    color: #fff;
                    font-size: 18px;
                    background-color: $mainColor;
                    border-radius: 10px;
                    padding: 3px 40px;
                    white-space: nowrap;
                    @media screen and (max-width:768px) {
                        font-size: 10px;
                        padding: 2px 30px;

                    }
                }
            }
        }
        .proprioInfo{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 20px;
            .nameAvatar {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 10px;
                font-size: 18px;
                font-weight: 500;
                .nomProprio{
                    height: 52px;
                    width: 93px;
                    font-weight: 500;
                    line-height: 30px;
                    text-align: right;
                }
                .avatarProprio{
                    width: 64px;
                    height: 64px;
                    background: #C4C4C4;
                    border-radius: 50%;
                    overflow: hidden;
                }
            }
            .stars {
                display : flex;
                justify-content: space-between;
                align-items: flex-start;
                height : 30%; 
            }
        }
        
    }
    .description {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 76px;
    }
}