@use '../../abstracts/' as *;

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 223px;
    height:223px;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    @media screen  and (max-width:960px){
        width: 89%;
        max-height: 111px;
        height:111px;
        border-radius: 10px;
        margin: 0 auto;
        justify-content: flex-start;        
    }
    h1 {
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 48px;
        font-weight: 500;
        position: absolute;        
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;        
        @media screen and (max-width: 960px) {
            text-align: left;
            justify-self: flex-start;
            left: 35%;
            height: 48px;
            width: 217px;
            font-size: 24px;
            
        }
     }
     .overlay {
        width: 100%;
        height: 223px;
        background: black;
    }
     img {
        @include imagePosition();
        filter: brightness(70%);
        -webkit-filter: brightness(70%);
        -moz-filter: brightness(70%);
    }
}