@use '../../abstracts/' as *;

.card {
    width: 340px;
    height: 340px;
    background: #FF6060;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    h3 {
        position: absolute;
        text-align: center;
        bottom: 15px;
        color: #FFF;
    }
}