@use '../abstracts/' as *;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.wrapper{
    max-width: 1240px;
    margin: 0 auto;
    @media screen and (max-width:960px) {
        margin-bottom:25px;
    }
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
img {
   @include imagePosition();
}